<div class="content">
    <h1 class="m-t-20">404</h1>
    <p class="error-title">PÁGINA NÃO ENCONTRADA</p>
    <p class="m-b-20">Desculpe, a página que você estava procurando não foi encontrada. Por favor, verifique o URL e tente sua sorte novamente.
        <a class="color-green" routerLink="/index">Ir para homepage</a> ou tente a barra de pesquisa abaixo.</p>
    <form action='javascript:;'>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Pesquisar página">
            <div class="input-group-btn">
                <button class="btn btn-success" type="button">Pesquisar</button>
            </div>
        </div>
    </form>
</div>
<style type="text/css">
    .content{
        max-width: 450px;
        margin:0 auto;
        text-align: center;
    }
    .content h1 {
        font-size: 160px
    }
    .error-title {
        font-size:22px; 
        font-weight:500;
        margin-top: 30px
    }
</style>
