<div class="page-brand">
    <a class="link" routerLink="/index">
        <span class="brand">
            <span class="brand-tip">NUARQ</span>
        </span>
        <span class="brand-mini">ARQ</span>
    </a>
</div>
<div class="flexbox flex-1">
    <!-- START TOP-LEFT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li>
            <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
        </li>
        <li>
            <form class="navbar-search" action="javascript:;">
                <div class="rel">
                    <span class="search-icon"><i class="ti-search"></i></span>
                    <input class="form-control" placeholder="Pesquise aqui...">
                </div>
            </form>
        </li>
    </ul>
    <!-- END TOP-LEFT TOOLBAR-->
    <!-- START TOP-RIGHT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li class="dropdown dropdown-inbox">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-o"></i>
                <span class="badge badge-primary envelope-badge">9</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                <li class="dropdown-menu-header">
                    <div>
                        <span><strong>9 Novas</strong>Mensagens</span>
                        <a class="pull-right" href="mailbox.html">Ver todas</a>
                    </div>
                </li>
                <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f">
                    <div>
                        <a class="list-group-item">
                            <div class="media">
                                <div class="media-img">
                                    <img src="./assets/img/users/user-wescley-macedo.jpg" />
                                </div>
                                <div class="media-body">
                                    <div class="font-strong"> </div>Wescley de Macêdo<small class="text-muted float-right">-</small>
                                    <div class="font-13">Tenho total confiança no trabalho dos senhores...</div>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="media">
                                <div class="media-img">
                                    <img src="./assets/img/users/user-andre-andrade.jpg" />
                                </div>
                                <div class="media-body">
                                    <div class="font-strong"></div>André Andrade<small class="text-muted float-right">18 minutos</small>
                                    <div class="font-13">Não vai programar ninguém.</div>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="media">
                                <div class="media-img">
                                    <img src="./assets/img/users/user-andre-goncalvez.jpg" />
                                </div>
                                <div class="media-body">
                                    <div class="font-strong"></div>André Gonçalvez<small class="text-muted float-right">20 minutos</small>
                                    <div class="font-13">Se fosse PHP seria melhor.</div>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="media">
                                <div class="media-img">
                                    <img src="./assets/img/users/user-daniel-gomes.jpg" />
                                </div>
                                <div class="media-body">
                                    <div class="font-strong"></div>Daniel Feitosa<small class="text-muted float-right">3 horas</small>
                                    <div class="font-13">A vida é para ser vivida.</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-notification">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o rel"><span class="notify-signal"></span></i></a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                <li class="dropdown-menu-header">
                    <div>
                        <span><strong>5 Novas</strong>Notificações</span>
                        <a class="pull-right" href="javascript:;">ver todas</a>
                    </div>
                </li>
                <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f">
                    <div>
                        <a class="list-group-item">
                            <div class="media">
                                <div class="media-img">
                                    <span class="badge badge-success badge-big"><i class="fa fa-check"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="font-13">4 tarefas SIGEDE concluídas</div><small class="text-muted">22 minutos</small></div>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="media">
                                <div class="media-img">
                                    <span class="badge badge-default badge-big"><i class="fa fa-shopping-basket"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="font-13">Você tem uma nova tarefa SIGEDE</div><small class="text-muted">40 minutos</small></div>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="media">
                                <div class="media-img">
                                    <span class="badge badge-danger badge-big"><i class="fa fa-bolt"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="font-13">Reunião hoje as 14hs</div><small class="text-muted">2 horas</small></div>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="media">
                                <div class="media-img">
                                    <span class="badge badge-success badge-big"><i class="fa fa-user"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="font-13">Comparecer ao serviço médico</div><small class="text-muted">3 horas</small></div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-user">
            <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                <img src="./assets/img/users/user-wescley-macedo.jpg" />
                <span></span>Wescley<i class="fa fa-angle-down m-l-5"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/profile"><i class="fa fa-user"></i>Perfil</a>
                <a class="dropdown-item"><i class="fa fa-cog"></i>Preferências</a>
                <a class="dropdown-item"><i class="fa fa-support"></i>Suporte</a>
                <li class="dropdown-divider"></li>
                <a class="dropdown-item"><i class="fa fa-power-off"></i>Sair</a>
            </ul>
        </li>
    </ul>
    <!-- END TOP-RIGHT TOOLBAR-->
</div>
