<div class="page-heading">
    <h1 class="page-title">Mascaras de Formulários</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Mascaras de Formulários</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="alert bg-white">
        <h4>Masked Input Plugin</h4>
        <p>Este é um plugin de campo com mascara para a biblioteca jQuery javascript. Permite que um usuário insira os dados no formado desejado (datas, números de telefone, etc.).</p>
        <p>
            <a class="btn btn-success" href="https://github.com/digitalBush/jquery.maskedinput" target="_blank">Site oficial</a>
        </p>
    </div>
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Mascaras de Campos</div>
            <div class="ibox-tools">
                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
            </div>
        </div>
        <div class="ibox-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Data</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-date" type="text">
                        <span class="help-block">Formato Data dd/mm/yyyy
                            <span></span>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Telefone</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-phone" type="text">
                        <span class="help-block">Mascara de Telefone (99) 99999-9999</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Telefone 2</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-phone2" type="text">
                        <span class="help-block">Mascara de Telefone +55 99 99999-9999</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Extenso</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-ext" type="text">
                        <span class="help-block">Mascara de Telefone (99) 99999-9999? x9999</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Cartão de Crédito</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-credit" type="text">
                        <span class="help-block">Mascara Cartão ****-****-****-****</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Código BCA</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-tax" type="text">
                        <span class="help-block">Mascara BCA 99999-99</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Monetário</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-currency" type="text">
                        <span class="help-block">Mascara Moeda R$ 99.99</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
