<div class="page-heading">
    <h1 class="page-title">Tabelas</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Tabelas</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Tabela</div>
        </div>
        <div class="ibox-body">
            <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th>Cidade</th>
                        <th>Idade</th>
                        <th>Admissão</th>
                        <th>Salário</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th>Cidade</th>
                        <th>Idade</th>
                        <th>Admissão</th>
                        <th>Salário</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Wescley de Macêdo Sousa</td>
                        <td>Comandante Geral do Batalhão</td>
                        <td>Brasilia - DF</td>
                        <td>35</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Daniel Feitosa dos Santos</td>
                        <td>Superintendente Geral do Churrasco</td>
                        <td>João Pessoa - PB</td>
                        <td>37</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>André Andrade de Almeida</td>
                        <td>Diretor Geral</td>
                        <td>Brasilia - DF</td>
                        <td>42</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Marco Américo Alburquerque</td>
                        <td>CEO da Direita Forever S.A.</td>
                        <td>Brasilia - DF</td>
                        <td>57</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>André Gonçalvez de La Sierra</td>
                        <td>Supervisor Geral de Assuntos Especificos</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Apoena Machado de Almeida</td>
                        <td>Diretor Adjunto do Junto</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Cristiano Alves de Almeida</td>
                        <td>Fundador da Investidor Premium Consultoria</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Carlos Brasileiro do Ceará</td>
                        <td>Coordenador Geral dos Cordenados</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Wescley de Macêdo Sousa</td>
                        <td>Comandante Geral do Batalhão</td>
                        <td>Brasilia - DF</td>
                        <td>35</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Daniel Feitosa dos Santos</td>
                        <td>Superintendente Geral do Churrasco</td>
                        <td>João Pessoa - PB</td>
                        <td>37</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>André Andrade de Almeida</td>
                        <td>Diretor Geral</td>
                        <td>Brasilia - DF</td>
                        <td>42</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Marco Américo Alburquerque</td>
                        <td>CEO da Direita Forever S.A.</td>
                        <td>Brasilia - DF</td>
                        <td>57</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>André Gonçalvez de La Sierra</td>
                        <td>Supervisor Geral de Assuntos Especificos</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Apoena Machado de Almeida</td>
                        <td>Diretor Adjunto do Junto</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Cristiano Alves de Almeida</td>
                        <td>Fundador da Investidor Premium Consultoria</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Carlos Brasileiro do Ceará</td>
                        <td>Coordenador Geral dos Cordenados</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Wescley de Macêdo Sousa</td>
                        <td>Comandante Geral do Batalhão</td>
                        <td>Brasilia - DF</td>
                        <td>35</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Daniel Feitosa dos Santos</td>
                        <td>Superintendente Geral do Churrasco</td>
                        <td>João Pessoa - PB</td>
                        <td>37</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>André Andrade de Almeida</td>
                        <td>Diretor Geral</td>
                        <td>Brasilia - DF</td>
                        <td>42</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Marco Américo Alburquerque</td>
                        <td>CEO da Direita Forever S.A.</td>
                        <td>Brasilia - DF</td>
                        <td>57</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>André Gonçalvez de La Sierra</td>
                        <td>Supervisor Geral de Assuntos Especificos</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Apoena Machado de Almeida</td>
                        <td>Diretor Adjunto do Junto</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Cristiano Alves de Almeida</td>
                        <td>Fundador da Investidor Premium Consultoria</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Carlos Brasileiro do Ceará</td>
                        <td>Coordenador Geral dos Cordenados</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>

                    <tr>
                        <td>Wescley de Macêdo Sousa</td>
                        <td>Comandante Geral do Batalhão</td>
                        <td>Brasilia - DF</td>
                        <td>35</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Daniel Feitosa dos Santos</td>
                        <td>Superintendente Geral do Churrasco</td>
                        <td>João Pessoa - PB</td>
                        <td>37</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>André Andrade de Almeida</td>
                        <td>Diretor Geral</td>
                        <td>Brasilia - DF</td>
                        <td>42</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Marco Américo Alburquerque</td>
                        <td>CEO da Direita Forever S.A.</td>
                        <td>Brasilia - DF</td>
                        <td>57</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>André Gonçalvez de La Sierra</td>
                        <td>Supervisor Geral de Assuntos Especificos</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Apoena Machado de Almeida</td>
                        <td>Diretor Adjunto do Junto</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Cristiano Alves de Almeida</td>
                        <td>Fundador da Investidor Premium Consultoria</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                    <tr>
                        <td>Carlos Brasileiro do Ceará</td>
                        <td>Coordenador Geral dos Cordenados</td>
                        <td>Brasilia - DF</td>
                        <td>28</td>
                        <td>01/05/2013</td>
                        <td>R$ 22.675,27</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
