<div class="page-heading">
    <h1 class="page-title">Formulário Básico</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Formulário Básico</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Formulário Básico</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item">opção 1</a>
                            <a class="dropdown-item">opção 2</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Primeiro Nome</label>
                                <input class="form-control" type="text" placeholder="Primeiro Nome">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Último Nome</label>
                                <input class="form-control" type="text" placeholder="Último Nome">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="Endereço de E-mail">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input class="form-control" type="password" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <label class="ui-checkbox">
                                <input type="checkbox">
                                <span class="input-span"></span>Lembre-me</label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" type="submit">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Formulário Horizontal</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">E-mail</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Endereço de E-mail">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Senha</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="password" placeholder="Senha">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Repetir Senha</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="password" placeholder="Senha">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10 ml-sm-auto">
                                <label class="ui-checkbox ui-checkbox-gray">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Lembre-me</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10 ml-sm-auto">
                                <button class="btn btn-info" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Formulário em linha</div>
        </div>
        <div class="ibox-body">
            <form class="form-inline">
                <label class="sr-only" for="ex-email">E-mail</label>
                <input class="form-control mb-2 mr-sm-2 mb-sm-0" id="ex-email" type="text" placeholder="Endereço de E-mail">
                <label class="sr-only" for="ex-pass">Senha</label>
                <input class="form-control mb-2 mr-sm-2 mb-sm-0" id="ex-pass" type="password" placeholder="Senha">
                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                    <label class="ui-checkbox ui-checkbox-inline">
                        <input type="checkbox">
                        <span class="input-span"></span>Lembre-me</label>
                </div>
                <button class="btn btn-success" type="submit">Acesso</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Elementos de Formulário</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <form>
                        <div class="form-group">
                            <label>Campo padrão</label>
                            <input class="form-control" type="text" placeholder="Campo padrão">
                        </div>
                        <div class="form-group">
                            <label>Canto Arredondado</label>
                            <input class="form-control input-rounded" type="text" placeholder="Canto Arredondado">
                        </div>
                        <div class="form-group">
                            <label>Com texto de ajuda</label>
                            <input class="form-control" type="text" placeholder="Com texto de ajuda">
                            <span class="help-block">Este texto ajuda o usuário a identificar o que deve ser fornecido no campo acima.</span>
                        </div>
                        <h4>Grupo de campos</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input class="form-control" type="text" placeholder="campo agrupado">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="campo agrupado">
                                <div class="input-group-addon">@example.com</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon bg-white">$</div>
                                <input class="form-control" type="text" placeholder="campo agrupado">
                                <div class="input-group-addon bg-white">.00</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lock font-16"></i></div>
                                <input class="form-control" type="text" placeholder="campo agrupado">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input class="form-control" type="text" placeholder="campo agrupado">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="campo agrupado">
                                <div class="input-group-addon"><i class="fa fa-link"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="checkbox">
                                </div>
                                <input class="form-control" type="text" placeholder="campo agrupado">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="radio">
                                </div>
                                <input class="form-control" type="text" placeholder="campo agrupado">
                            </div>
                        </div>
                        <h4>Botões agrupados</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-info" type="button">Executar</button>
                                </div>
                                <input class="form-control" type="text" placeholder="botão agrupado">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="botão agrupado">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Executar</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Ação <i class="fa fa-angle-down"></i></button>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item">opção 1</a>
                                        <a class="dropdown-item">opção 2</a>
                                    </ul>
                                </div>
                                <input class="form-control" type="text" placeholder="input group">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="input group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Ação <i class="fa fa-angle-down"></i></button>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item">opção 1</a>
                                        <a class="dropdown-item">opção 2</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="input group">
                                <div class="input-group-btn">
                                    <button class="btn btn-info" type="button">Ação</button>
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item">opção 1</a>
                                        <a class="dropdown-item">opção 2</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h4>Com ícones</h4>
                        <div class="form-group">
                            <div class="input-group-icon">
                                <div class="input-icon"><i class="fa fa-link"></i></div>
                                <input class="form-control" type="text" placeholder="com icone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-icon">
                                <div class="input-icon"><i class="fa fa-keyboard-o"></i></div>
                                <input class="form-control" type="text" placeholder="com icone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-icon">
                                <div class="input-icon"><i class="fa fa-microphone text-primary font-15"></i></div>
                                <input class="form-control" type="text" placeholder="com icone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-icon right">
                                <div class="input-icon"><i class="fa fa-eye"></i></div>
                                <input class="form-control" type="text" placeholder="com icone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-icon right">
                                <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                                <input class="form-control" type="text" placeholder="com icone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-icon right">
                                <div class="input-icon"><i class="fa fa-check text-success"></i></div>
                                <input class="form-control" type="text" placeholder="com icone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group-icon right">
                                <div class="input-icon"><i class="icon-cancel text-danger"></i></div>
                                <input class="form-control" type="text" placeholder="com icone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Disabilitado</label>
                            <input class="form-control" type="text" placeholder="Campo desabilitado" disabled="">
                        </div>
                        <div class="form-group">
                            <label>Controle estático</label>
                            <p class="form-control-static">email@conab.gov.br</p>
                        </div>
                        <div class="form-group">
                            <label>Seleção</label>
                            <select class="form-control">
                                <option value="">opção 1</option>
                                <option value="">opção 2</option>
                                <option value="">opção 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Seleção Multipla</label>
                            <select class="form-control" multiple="">
                                <option value="">opção 1</option>
                                <option value="">opção 2</option>
                                <option value="">opção 3</option>
                                <option value="">opção 4</option>
                                <option value="">opção 5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>área de texto</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Checkboxes & Radios</label>
                            <div class="row">
                                <div class="col-6 m-b-20">
                                    <div class="check-list">
                                        <label class="ui-checkbox">
                                            <input type="checkbox">
                                            <span class="input-span"></span>Checkbox</label>
                                        <label class="ui-checkbox">
                                            <input type="checkbox">
                                            <span class="input-span"></span>Checkbox</label>
                                        <label class="ui-checkbox">
                                            <input type="checkbox" checked="">
                                            <span class="input-span"></span>Checked</label>
                                        <label class="ui-checkbox ui-checkbox-gray">
                                            <input type="checkbox">
                                            <span class="input-span"></span>Checkbox verde</label>
                                        <label class="ui-checkbox disabled">
                                            <input type="checkbox" disabled="">
                                            <span class="input-span"></span>Disabilitado</label>
                                    </div>
                                </div>
                                <div class="col-6 m-b-20">
                                    <div class="check-list">
                                        <label class="ui-checkbox ui-checkbox-primary">
                                            <input type="checkbox">
                                            <span class="input-span"></span>Primário</label>
                                        <label class="ui-checkbox ui-checkbox-success">
                                            <input type="checkbox">
                                            <span class="input-span"></span>Sucesso</label>
                                        <label class="ui-checkbox ui-checkbox-info">
                                            <input type="checkbox">
                                            <span class="input-span"></span>Informação</label>
                                        <label class="ui-checkbox ui-checkbox-warning">
                                            <input type="checkbox">
                                            <span class="input-span"></span>Aviso</label>
                                        <label class="ui-checkbox ui-checkbox-danger">
                                            <input type="checkbox">
                                            <span class="input-span"></span>Erro</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 m-b-20">
                                    <div class="check-list">
                                        <label class="ui-radio">
                                            <input type="radio" name="test">
                                            <span class="input-span"></span>Radio</label>
                                        <label class="ui-radio">
                                            <input type="radio" name="test">
                                            <span class="input-span"></span>Radio</label>
                                        <label class="ui-radio">
                                            <input type="radio" name="test" checked="">
                                            <span class="input-span"></span>Checked</label>
                                        <label class="ui-radio ui-radio-gray">
                                            <input type="radio" name="test">
                                            <span class="input-span"></span>Radio verde</label>
                                        <label class="ui-radio disabled">
                                            <input type="radio" name="test" disabled="">
                                            <span class="input-span"></span>Disabilitado</label>
                                    </div>
                                </div>
                                <div class="col-6 m-b-20">
                                    <div class="check-list">
                                        <label class="ui-radio ui-radio-primary">
                                            <input type="radio" name="test2">
                                            <span class="input-span"></span>Primário</label>
                                        <label class="ui-radio ui-radio-success">
                                            <input type="radio" name="test2">
                                            <span class="input-span"></span>Sucesso</label>
                                        <label class="ui-radio ui-radio-info">
                                            <input type="radio" name="test2">
                                            <span class="input-span"></span>Informação</label>
                                        <label class="ui-radio ui-radio-warning">
                                            <input type="radio" name="test2">
                                            <span class="input-span"></span>Aviso</label>
                                        <label class="ui-radio ui-radio-danger">
                                            <input type="radio" name="test2">
                                            <span class="input-span"></span>Erro</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Checkbox em linha</label>
                            <div class="m-b-10">
                                <label class="ui-checkbox ui-checkbox-inline">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Opção 1</label>
                                <label class="ui-checkbox ui-checkbox-inline">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Opção 2</label>
                                <label class="ui-checkbox ui-checkbox-inline">
                                    <input type="checkbox">
                                    <span class="input-span"></span>Opção 3</label>
                            </div>
                            <div>
                                <label class="ui-radio ui-radio-inline">
                                    <input type="radio" name="test">
                                    <span class="input-span"></span>Opção 1</label>
                                <label class="ui-radio ui-radio-inline">
                                    <input type="radio" name="test">
                                    <span class="input-span"></span>Opção 2</label>
                                <label class="ui-radio ui-radio-inline">
                                    <input type="radio" name="test">
                                    <span class="input-span"></span>Opção 3</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Elementos de Formulário</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <h4>Dimensionamento de controle</h4>
                    <div class="form-group">
                        <input class="form-control input-sm" type="text" placeholder="Pequeno">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Padrão">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" placeholder="Grande">
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                            <input class="form-control" type="text" placeholder="campo pequeno agrupado">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-addon"><i class="fa fa-link"></i></div>
                            <input class="form-control" type="text" placeholder="campo grande agrupado">
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control input-sm">
                            <option>Seleção pequena</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>Seleção padrão</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control input-lg">
                            <option>Seleção grande</option>
                        </select>
                    </div>
                    <div class="form-group has-success">
                        <label class="col-form-label">Campo em estado de sucesso</label>
                        <input class="form-control" type="text" placeholderx="Campo arredondado">
                    </div>
                    <div class="form-group has-warning">
                        <label class="col-form-label">Campo em estado de aviso</label>
                        <input class="form-control" type="text" placeholderx="Campo arredondado">
                    </div>
                    <div class="form-group has-error">
                        <label class="col-form-label">Campo em estado de erro</label>
                        <input class="form-control" type="text" placeholderx="Campo arredondado">
                    </div>
                    <h4>Com icones</h4>
                    <div>
                        <div class="form-group">
                            <label class="col-form-label">Campo padrão</label>
                            <div class="input-group-icon right">
                                <div class="input-icon"><i class="fa fa-info-circle"></i></div>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label class="col-form-label">Campo em estado de sucesso</label>
                            <div class="input-group-icon right">
                                <div class="input-icon"><i class="fa fa-check"></i></div>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group has-warning">
                            <label class="col-form-label">Campo em estado de aviso</label>
                            <div class="input-group-icon right">
                                <div class="input-icon"><i class="fa fa-warning"></i></div>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-form-label">Campo em estado de erro</label>
                            <div class="input-group-icon right">
                                <div class="input-icon"><i class="fa fa-exclamation"></i></div>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
