<div class="content">
    <h1 class="m-t-20">500</h1>
    <p class="error-title">Erro Interno do Servidor</p>
    <p class="m-b-20">Desculpe, mas o servidor não conseguiu concluir sua solicitação. Você pode retornar para página principal clicando em <br/>
        <a class="color-green" routerLink="/index">ir para homepage</a></p>
</div>
<style type="text/css">
    .content{
        max-width: 450px;
        margin:0 auto;
        text-align: center;
    }
    .content h1 {
        font-size: 160px
    }
    .error-title {
        font-size:22px; 
        font-weight:500;
        margin-top: 30px
    }
</style>
