<div class="page-heading">
    <h1 class="page-title">Cartões</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Cartões</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="card" style="width:280px;">
                        <img class="card-img-top" src="./assets/img/blog/storm.jpg" />
                        <div class="card-body">
                            <h4 class="card-title">Titulo do Cartão</h4>
                            <div class="text-muted card-subtitle">subtitulo</div>
                            <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                            <button class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add</button>
                        </div>
                    </div><br>
                    <div class="card" style="width:280px;">
                        <img class="card-img-top" src="./assets/img/blog/macarons.jpg" />
                        <div class="card-body">
                            <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                            <a class="link-blue"><i class="fa fa-comments"></i> Comments</a>
                        </div>
                    </div><br>
                    <div class="card" style="width:280px;">
                        <div class="card-body">
                            <h4 class="card-title">Titulo do Cartão</h4>
                            <div class="text-muted card-subtitle">2 days ago</div>
                            <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                        </div>
                        <img class="card-img-top" src="./assets/img/blog/horse.jpg" />
                    </div><br>
                    <h5 class="m-t-20 m-b-20">Sem imagem</h5>
                    <div class="card" style="width:280px;">
                        <div class="card-body">
                            <h4 class="card-title">Titulo do Cartão</h4>
                            <div class="text-muted card-subtitle">subtitle</div>
                            <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                            <a class="link-blue text-muted"><i class="fa fa-heart"></i>Like</a>
                        </div>
                    </div><br>
                    <div class="card" style="width:280px;">
                        <div class="card-body">
                            <h4 class="card-title">Titulo do Cartão</h4>
                            <div class="text-muted card-subtitle">subtitulo</div>
                            <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                            <div class="pull-right">
                                <span class="text-muted">André Andrade</span>
                                <img class="img-circle m-l-10" src="./assets/img/users/user-andre-andrade.jpg" style="width:28px;" />
                            </div>
                        </div>
                    </div><br></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Cartões</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <h5 class="m-b-20">Cabeçalho e Rodapé</h5>
                    <div class="card" style="width:320px;">
                        <div class="card-header">
                            <img class="img-circle m-r-10 pull-left" src="./assets/img/users/user-andre-goncalvez.jpg" style="width:28px;" />
                            <h6 class="m-0">André Gonçalvez</h6><small class="text-muted">16 Janeiro 2018</small></div>
                        <div class="card-body">
                            <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="link-blue"><i class="fa fa-heart"></i>Like</a>
                                <button class="btn btn-default btn-sm">Compartilhar<i class="fa fa-share pull-rightx"></i></button>
                            </div>
                        </div>
                    </div><br><br>
                    <div class="card" style="width:300px;">
                        <img class="card-img-top" src="./assets/img/blog/candles.jpg" />
                        <div class="card-body">
                            <h4 class="card-title">Danilla</h4>
                            <div class="text-muted card-subtitle">Diretora</div>
                            <div>Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</div>
                        </div>
                        <div class="card-footer">
                            <a class="text-info"><i class="fa fa-star"></i> Seguidores</a>
                            <span class="pull-right text-muted font-13">Entraram em 03/02/2018</span>
                        </div>
                    </div>
                    <h5 class="m-t-20 m-b-20">Superposição de imagem</h5>
                    <div class="card" style="width:260px;">
                        <img class="card-img" src="./assets/img/blog/storm.jpg" />
                        <div class="card-img-overlay text-white">
                            <h4 class="card-title">Titulo do Cartão</h4>
                            <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                            <button class="btn btn-default btn-sm">Ler</button>
                        </div>
                    </div><br>
                    <h5 class="m-t-20 m-b-20">Com Lista</h5>
                    <div class="card" style="width:300px;">
                        <img class="card-img-top" src="./assets/img/blog/macarons.jpg" />
                        <div class="card-body">
                            <h4 class="card-title">Danila</h4>
                            <div>Algum texto de exemplo rápido.</div>
                        </div>
                        <ul class="list-group list-group-divider no-margin">
                            <li class="list-group-item" style="border-top-color:#e1eaec;">Vendas
                                <span class="badge badge-danger badge-circle float-right">4</span>
                            </li>
                            <li class="list-group-item">Fotos
                                <span class="badge badge-info badge-circle float-right">7</span>
                            </li>
                            <li class="list-group-item">Amigos
                                <span class="badge badge-warning badge-circle float-right">24</span>
                            </li>
                        </ul>
                        <div class="card-footer">
                            <a class="text-info"><i class="fa fa-star"></i> Seguidores</a>
                            <span class="pull-right text-muted font-13">Entraram em 03/04/2018</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Grupos de Cartões</div>
                <div class="ibox-tools">
                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
            <div class="ibox-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-group">
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h5 class="card-title">Danila</h5>
                                    <div class="text-muted card-subtitle">Diretora</div>
                                    <div>Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h5 class="card-title">Wescley de Macêdo</h5>
                                    <div class="text-muted card-subtitle">CIO</div>
                                    <div>Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h5 class="card-title">Apoena Machado</h5>
                                    <div class="text-muted card-subtitle">Designer</div>
                                    <div>Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <h4 class="m-b-20 font-strong">Baralho de cartas</h4>
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h5 class="card-title">Danila</h5>
                                    <div class="text-muted card-subtitle">Diretora</div>
                                    <div>Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-star"></i> Seguidores</a>
                                    <span class="pull-right text-muted font-13">Jan 2</span>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h5 class="card-title">Wescley</h5>
                                    <div class="text-muted card-subtitle">CEO</div>
                                    <div>Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-star"></i> Seguidores</a>
                                    <span class="pull-right text-muted font-13">Dez 4</span>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h4 class="card-title">Apoena Machado</h4>
                                    <div class="text-muted card-subtitle">Superintendente</div>
                                    <div>Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-star"></i> Seguidores</a>
                                    <span class="pull-right text-muted font-13">Jan 7</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <h4 class="m-b-20 font-strong">Cartões Colunares</h4>
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-columns">
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/blog/storm.jpg" />
                                <div class="card-body">
                                    <h4 class="card-title">Danila</h4>
                                    <div class="text-muted card-subtitle">Diretora</div>
                                    <div>Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/blog/seascape.jpg" />
                                <div class="card-body">
                                    <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                                    <a class="link-blue"><i class="fa fa-comments"></i> Comentários</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Titulo do Cartão</h5>
                                    <div class="text-muted card-subtitle">subtitulo</div>
                                    <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                                    <a class="link-blue"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Titulo do Cartão</h5>
                                    <div class="text-muted card-subtitle">2 dias atrás</div>
                                    <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                                </div>
                                <img class="card-img-top" src="./assets/img/blog/horse.jpg" />
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/blog/macarons.jpg" />
                                <div class="card-body">
                                    <h4 class="card-title">Danila</h4>
                                    <div>Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/blog/storm.jpg" />
                                <div class="card-img-overlay text-white">
                                    <h4 class="card-title">Titulo do Cartão</h4>
                                    <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                                    <button class="btn btn-default btn-sm">Ler</button>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <img class="pull-left img-circle m-r-10" src="./assets/img/users/u1.jpg" style="width:32px;" />
                                    <h6 class="m-0">André Andrade</h6><small class="text-muted">16 Janeiro 2018</small></div>
                                <div class="card-body">
                                    <p class="card-text">Alguns textos de exemplo rápidos para construir o título do cartão e compilar a maior parte do conteúdo do cartão.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a class="link-blue"><i class="fa fa-heart"></i> Like</a>
                                        <button class="btn btn-default btn-sm">Compartilhar <i class="fa fa-share"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
