<div class="page-heading">
    <h1 class="page-title">Fatura</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox invoice">
        <div class="invoice-header">
            <div class="row">
                <div class="col-6">
                    <div class="invoice-logo">
                        <img src="./assets/img/logos/github-logo.png" height="65px" />
                    </div>
                    <div>
                        <div class="m-b-5 font-bold">Faturado por:</div>
                        <div>Iamandu Tecnologia da Informação</div>
                        <ul class="list-unstyled m-t-10">
                            <li class="m-b-5">
                                <span class="font-strong">E:</span> SHCN Q. 4 Setor Comercial Norte BL B - Brasília - DF</li>
                            <li class="m-b-5">
                                <span class="font-strong">E:</span> wescley.sousa@iamandu.com.br</li>
                            <li>
                                <span class="font-strong">T:</span> (61) 98603-0856</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div class="clf" style="margin-bottom:30px;">
                        <dl class="row pull-right" style="width:250px;"><dt class="col-sm-6">Data de Emissão</dt>
                            <dd class="col-sm-6">21 Março 2018</dd><dt class="col-sm-6">Data Contábil</dt>
                            <dd class="col-sm-6">21 Março 2018</dd><dt class="col-sm-6">Número NFE</dt>
                            <dd class="col-sm-6">1450012</dd>
                        </dl>
                    </div>
                    <div>
                        <div class="m-b-5 font-bold">Emitido para:</div>
                        <div>Engetronics Servidor de Internet LTDA</div>
                        <ul class="list-unstyled m-t-10">
                            <li class="m-b-5">SHN Quadra 2 LJ 114 114 - Metropolitan - Brasilia - DF.</li>
                            <li class="m-b-5">paulo.hernandes@engetronics.com.br</li>
                            <li>(61) 98406-4058</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped no-margin table-invoice">
            <thead>
                <tr>
                    <th>Descrição do Item</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div><strong>Análise e Modelagem</strong></div><small>Trabalho de levantamento de necessidades de sistema e modelagem de dados.</small></td>
                    <td>1</td>
                    <td>R$ 2.400,00</td>
                    <td>R$ 2.400,00</td>
                </tr>
                <tr>
                    <td>
                        <div><strong>Protótipo Web e Mobile</strong></div><small>Elaboração de prototipo funcional de sistema web e app mobile.</small></td>
                    <td>2</td>
                    <td>R$ 1.240.00</td>
                    <td>R$ 2.480.00</td>
                </tr>
                <tr>
                    <td>
                        <div><strong>Desenvolvimento de Software</strong></div><small>Implementação de software web e solução mobile engetronics.</small></td>
                    <td>2</td>
                    <td>R$ 3.380.00</td>
                    <td>R$ 6.740.00</td>
                </tr>
            </tbody>
        </table>
        <table class="table no-border">
            <thead>
                <tr>
                    <th></th>
                    <th width="15%"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-right">
                    <td>Sub-Total:</td>
                    <td>R$ 11.620,00</td>
                </tr>
                <tr class="text-right">
                    <td>Tributos 5%:</td>
                    <td>R$ 581,00</td>
                </tr>
                <tr class="text-right">
                    <td class="font-bold font-18">TOTAL:</td>
                    <td class="font-bold font-18">R$ 12.201,00</td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button class="btn btn-info" type="button" onclick="javascript:window.print();"><i class="fa fa-print"></i> Imprimir</button>
        </div>
    </div>
    <style type="text/css">
        .invoice {
            padding: 20px
        }
        .invoice-header {
            margin-bottom: 50px
        }
        .invoice-logo {
            margin-bottom: 50px;
        }
        .table-invoice tr td:last-child {text-align:right;}
    </style>
</div>
