<div class="page-heading">
    <h1 class="page-title">Tabelas Básicas</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Tabelas Básicas</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-xl-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Tabela Básica</div>
                </div>
                <div class="ibox-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>André</td>
                                <td>Andrade</td>
                                <td>andre.andrade</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>André</td>
                                <td>Gonçalvez</td>
                                <td>andre.goncalvez</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Wescley</td>
                                <td>Macêdo</td>
                                <td>wescley.sousa</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Tabela com bordas</div>
                </div>
                <div class="ibox-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>André</td>
                                <td>Andrade</td>
                                <td>andre.andrade</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>André</td>
                                <td>Gonçalvez</td>
                                <td>andre.goncalvez</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Wescley</td>
                                <td>Macêdo</td>
                                <td>wescley.sousa</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Cabeçalho Verde</div>
                </div>
                <div class="ibox-body">
                    <table class="table">
                        <thead class="thead-default">
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>André</td>
                                <td>Andrade</td>
                                <td>andre.andrade</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>André</td>
                                <td>Gonçalvez</td>
                                <td>andre.goncalvez</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Wescley</td>
                                <td>Macêdo</td>
                                <td>wescley.sousa</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Cabeçalho padrão</div>
                </div>
                <div class="ibox-body">
                    <table class="table table-bordered">
                        <thead class="thead-default">
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>André</td>
                                <td>Andrade</td>
                                <td>andre.andrade</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>André</td>
                                <td>Gonçalvez</td>
                                <td>andre.goncalvez</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Wescley</td>
                                <td>Macêdo</td>
                                <td>wescley.sousa</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Linhas listradas</div>
                </div>
                <div class="ibox-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>André</td>
                                <td>Andrade</td>
                                <td>andre.andrade</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>André</td>
                                <td>Gonçalvez</td>
                                <td>andre.goncalvez</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Wescley</td>
                                <td>Macêdo</td>
                                <td>wescley.sousa</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Linhas flutuantes</div>
                </div>
                <div class="ibox-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>André</td>
                                <td>Andrade</td>
                                <td>andre.andrade</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>André</td>
                                <td>Gonçalvez</td>
                                <td>andre.goncalvez</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Wescley</td>
                                <td>Macêdo</td>
                                <td>wescley.sousa</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Tabela Responsiva</div>
        </div>
        <div class="ibox-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50px"></th>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Data</th>
                            <th>Último Nome</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="ui-checkbox">
                                    <input type="checkbox">
                                    <span class="input-span"></span>
                                </label>
                            </td>
                            <td>Iphone 6</td>
                            <td>R$ 8.324,50</td>
                            <td>33%</td>
                            <td>02/08/2017</td>
                            <td>
                                <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Editar"><i class="fa fa-pencil font-14"></i></button>
                                <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Deletar"><i class="fa fa-trash font-14"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="ui-checkbox">
                                    <input type="checkbox">
                                    <span class="input-span"></span>
                                </label>
                            </td>
                            <td>Motorola G9</td>
                            <td>R$ 3.280,00</td>
                            <td>42%</td>
                            <td>08/10/2017</td>
                            <td>
                                <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Editar"><i class="fa fa-pencil font-14"></i></button>
                                <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Deletar"><i class="fa fa-trash font-14"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="ui-checkbox">
                                    <input type="checkbox">
                                    <span class="input-span"></span>
                                </label>
                            </td>
                            <td>Notebook Samsung WX260</td>
                            <td>R$ 2.640,00</td>
                            <td>56%</td>
                            <td>14/11/2017</td>
                            <td>
                                <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Editar"><i class="fa fa-pencil font-14"></i></button>
                                <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Deletar"><i class="fa fa-trash font-14"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Classes Contextuais</div>
                </div>
                <div class="ibox-body">
                    <table class="table table-hover">
                        <caption>Legenda opcional da tabela.</caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <td>1</td>
                                <td>André</td>
                                <td>Andrade</td>
                                <td>02/08/2017</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>André</td>
                                <td>Gonçalvez</td>
                                <td>04/10/2017</td>
                            </tr>
                            <tr class="info">
                                <td>3</td>
                                <td>Wescley</td>
                                <td>Macêdo</td>
                                <td>08/11/2017</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Marcelo</td>
                                <td>Alves</td>
                                <td>04/10/2017</td>
                            </tr>
                            <tr class="success">
                                <td>3</td>
                                <td>Carlos</td>
                                <td>Brasileiro</td>
                                <td>08/11/2017</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Raphael</td>
                                <td>Freire</td>
                                <td>04/10/2017</td>
                            </tr>
                            <tr class="warning">
                                <td>3</td>
                                <td>Apoena</td>
                                <td>Machado</td>
                                <td>08/11/2017</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Cristiano</td>
                                <td>Alves</td>
                                <td>04/10/2017</td>
                            </tr>
                            <tr class="danger">
                                <td>3</td>
                                <td>Sergio</td>
                                <td>Humorista</td>
                                <td>08/11/2017</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Tabela Condensada</div>
                </div>
                <div class="ibox-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Primeiro Nome</th>
                                <th>Último Nome</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>André</td>
                                <td>Andrade</td>
                                <td><i class="fa fa-check text-success"></i></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>André</td>
                                <td>Gonçalvez</td>
                                <td><i class="fa fa-check text-success"></i></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Wescley</td>
                                <td>Macêdo</td>
                                <td><i class="fa fa-warning text-warning"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
